
*{
    padding: 0%;
    margin: 0%;
}

/* navbar styling */

#navbar-d{
    width:100%;
    height:70px;
    border: 1px solid rgb(207, 202, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    line-height: 20pxpx;
    color:#000000;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
#navbar-d>div:nth-child(1)>img{
  width:130px
}
#navbar-d>div:nth-child(2){
    width:30%;
    display: flex;
    justify-content: space-between;
}
#navbar-d>div:nth-child(3){
    display: flex;
    align-items: center;
    gap:5px;
}#navbar-d>div:nth-child(3)>img{
    width:30px;
    height:35px;
}
#login-d{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    gap:5px;
    margin-top: -5px;
}
#underline{
    border-bottom: 4px solid rgb(49, 49, 241);
    margin-bottom: -5px;
    font-weight: bolder;
}
#pera{
    font-size: 12px;
    line-height: 14px;
    color: #414c5f;
    font-weight:400;
}

#button{
    width:25%;
    display: grid;
}
#box1{
    width:75%;
    border:1px solid
}