*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
body {
  min-height: 100vh;
  color: #666;
  background-size: cover;
  background-position: center;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}
.logo {
  font-weight: bolder;
  font-size: 25px;
  color: red;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  position: relative;
  float: left;
}
.navbar ul li a {
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  line-height: 24px;
  color: #666;
  display: block;
}
.navbar ul li a:hover {
  text-decoration: underline;
  /* text-decoration-style: wavy; */
  text-decoration-thickness: 4px;
  color: blue;
  font-weight: bold;
  background: rgba(128, 128, 128, 0.164);
  /* color: black; */
}
.navbar ul li:hover {
  /* text-decoration-style: wavy; */
  text-decoration-thickness: 4px;
  font-weight: bold;
  background: white;
}
.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 20px 5px 20px 0px;
 background: white;
  display: none;
}
.navbar ul li ul a {
  font-weight: 400;
  text-transform: none;
  padding: 5px;
  text-decoration: none;
}
.navbar ul li ul a:hover {
  background: none;
  font-weight: 400;
  color: rgba(0, 119, 255, 0.658);
  text-decoration: none;
}
.navbar ul li ul li {
  width: 100%;
}

.navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul {
  display: initial;
}
.main {
  display: flex;
}
.search-section {
  background-image: url("https://static.naukimg.com/s/4/103/i/bgDesktop_v1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}
.najrin {
  background-color: rgba(0, 0, 0, 0.336);
  height: 40px;
  display: flex;
}
.naj {
  font-size: 12px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  color: white;
  margin: auto;
  align-items: center;
}
abbr {
  cursor: pointer;
}
#browse--by-jobs {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.336);
  font-size: 12px;
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  color: white;

  align-items: center;
}
#Skills {
  padding: 10px;
  width: 30%;
  border: 3px solid grey;
}
#location {
  padding: 10px;
  width: 15%;
  border: 3px solid grey;
}
#search-data {
  background-color: #09c;
  padding: 10px 25px;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
}

.najrin {
  background-color: rgba(0, 0, 0, 0.336);
  height: 40px;
  display: flex;
}
.naj {
  font-size: 12px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  color: white;
  margin: auto;
  align-items: center;
}
abbr {
  cursor: pointer;
}
#browse--by-jobs {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.336);
  font-size: 12px;
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  color: white;

  align-items: center;
}
#Skills {
  padding: 10px;
  width: 100%;
  border: 3px solid grey;
}
#location {
  padding: 10px;
  width: 15%;
  height: 40px;
  border: 3px solid grey;
}
#search-data {
  background-color: #09c;
  padding: 10px 25px;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
}
#search-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 150px;
  margin-top: 30px;
}
.browse-job-location {
  width: 75%;
  height: 250px;
  /* border:4px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
}
.browse-job-location > img {
  width: 100%;
}
.browse-job-location p {
  clear: left;
  padding: 15px 20px;
  font-weight: 300;
  border-bottom: 1px solid #f3f3f363;
}

/* City image part */

.hoz li {
  width: 20%;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  color: #666;
}
.hoz li {
  float: left;
}
ul {
  list-style: none;
  color: #666;
}
.ban,
.chen,
.del,
.hyd,
.mum {
  cursor: pointer;
  background: url(https://static.naukimg.com/s/4/103/i/browseLoc.png);
  display: block;
  width: 86px;
  margin: auto;
  height: 115px;
}
.mum {
  background-position: 0 0;
}
.del {
  background-position: -89px 0;
}
.ban {
  background-position: -176px 0;
}
.hyd {
  background-position: -263px 0;
}
.chen {
  background-position: -349px 0;
}

.browsefuncarea {
  width: 75%;
  height: 250px;
  /* border: 5px solid red; */
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.browsefuncarea > div {
  width: 49%;
  height: 100%;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 5px solid green; */
}
#browsefuncarea-first p {
  clear: left;
  padding: 15px 20px;
  font-weight: 300;
  border-bottom: 1px solid #f3f3f3;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
}
.browsefuncarea-second {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  
}
.browsefuncarea-second > div {
  width: 50%;
  height: auto;
  /* border: 2px solid; */
}
.browsefuncarea-second a {
  font-size: 12px;
  color: #666;
  word-break: break-word;
  width: 100%;
  padding: 5px;
  font-weight: 300;
  display: inline-block;
  margin-left: 20px;
  font-family: Roboto, sans-serif;
}
.browsefuncarea-second a:hover {
  color: rgba(0, 0, 255, 0.784);
}
.browsefuncarea-last {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  margin-right: 34px;
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #09c;
  font-family: Roboto, sans-serif;
}
#browsefuncarea-last a:hover {
  color: rgba(0, 0, 255, 0.453);
}
#browse-by-comp {
  width: 75%;
  height: 215px;
  /* border: 5px solid red; */
  margin: auto;
  margin-top: 20px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* display: flex; */
}
.browse-comp p {
  clear: left;
  padding: 15px 20px;
  font-weight: 300;
  border-bottom: 1px solid #f3f3f3;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
}
#browsec {
  width: 100%;
  height: 80%;
  display: flex;
  margin: auto;
  /* border: 1px solid yellow; */
}
#browsec > div {
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  text-align: center;
}
#browsec > div img {
  margin-top: 30px;
  margin-bottom: 20px;
}
#browsec > div p{
  color: #666;
  font-size: 12px;
  font-weight: 300;
}
#browsec > div p:hover{
  cursor: pointer;
}
#moving{
  display: flex;
  width:40%;
  height: 100px;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}
#moving div img{
  margin-right: 30px;
}
#search-job{
  display: flex;
}
#container>div{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.766);
    color:black;
    border-bottom: 3px solid white;
    border-radius: 10px;
    margin: auto;
    
}

