* {
    margin: 0;
}

#navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    color: #8292B4;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgba(86, 141, 187, 0.06) 0px 4px 12px 0px;
}

#logo {
    margin-right: 50%;
    height: 31px;
    width: 186px;
}

#navbar div {
    display: flex;
    gap: 15px;
    align-items: center;
}

#navbar #mid_nav h3 {
    gap: 40px;
    font-weight: 500;
}

#navbar #mid_nav h3 a {
    text-decoration: none;
    color: #8292B4;
}

#navbar #mid_nav h3 a:hover {
    color: #1B2437;
}

.menu {
    position: absolute;
    top: 57px;
    padding: 50px;
    width: 70%;
    left: 10%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: #ffffff;
    border: 1px solid #D3E2EB;
    border-radius: 10px;
}

.menu .row:nth-child(1) {
    padding-right: 30px;
    border-right: 1px solid #D3E2EB;
}

.menu .row:nth-child(2) {
    padding-right: 30px;
    border-right: 1px solid #D3E2EB;
}

.menu .row:nth-child(4) {
    padding-right: 30px;
    padding-left: 10px;
    border-left: 1px solid #D3E2EB;
}

/* .menu  
    background-color: #ffffff;
     padding: 25px 20px; 
    display: flex; 
    justify-content: space-evenly; 
    width: 70%; 
    margin: auto; 
     height: auto; 
    */

/* .row {
    width: calc(25%-30px);
} */

.row .head {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 500;
    color: black;
    font-family: 'Inter', serif;
}

.menu-links {
    padding-left: 0;
    padding-right: 30px;

}

.row .menu-links p a {
    /* padding: 0 20px; */
    /* display: block; */
    text-decoration: none;
    color: #333333;
}

.row .menu-links p {
    padding-bottom: 15px;
    /* margin: 10px; */
}

#mid_nav h3:hover .menu {
    top: 57px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}



#navbar h3 {
    font-size: 15px;
}

#vl {
    height: 20px;
    width: 0px;
    border: 1px solid #D3E2EB;
}

#mid_nav {
    margin-left: -20%;
}

#mid_nav>h3:hover {
    color: #1B2437;
    cursor: pointer;
    border-bottom: 5px solid rgb(248, 87, 23)
}

#login {

    border: 1px solid #5086FF;
    padding: 6px 18px;
    border-radius: 40px;
    /* font-size:20px; */
}

#register {
    background-color: #FF7555;
    /* border: 1px solid #5086FF; */
    padding: 6px 15px;
    border-radius: 40px;

}

#login>a {
    text-decoration: none;
    color: #5086FF;
}

#register>a {
    text-decoration: none;
    color: white;
}

#register:hover,
#login:hover {
    cursor: pointer;
}

#emp {
    font-weight: 500;
}

#emp:hover {
    color: #1B2437;
    cursor: pointer;
    border-bottom: 5px solid rgb(248, 87, 23)
}

#find {
    margin: 52px 0 28px;
    text-align: center;
    font-size: 17px;
    color: #1B2437;
    /* font-family: 'Roboto', sans-serif; */
}

#find h1 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 6px;
    font-weight: 700;
}

#find p {
    color: #8292B4;
    font-family: 'Inter', serif;
    font-weight: 500;
}

#search {
    width: 995px;
    /* border: 1px solid #9198a5; */
    height: 60px;
    border-radius: 100px;
    padding: 9px 9px 9px 24px;
    margin: auto;
    gap: 8px;
    display: flex;
    align-items: center;
    box-shadow: rgba(86, 141, 187, 0.12) 0px 4px 12px 0px;
}

#sicon {
    width: 26px;
    height: 26px;
}

#jInput {
    width: 340px;
    height: 46px;
    padding: 4px 4px 4px 12px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: #8292B4;
    font-weight: 500;
    border-right: 1px solid rgb(221, 218, 218)
}

#Exp {
    width: 223px;
    height: 43px;
    padding: 8px 0px 6px 10px;
    border: none;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: #8292B4;
    font-weight: 500;
    border-right: 1px solid rgb(221, 218, 218)
}

#location {
    width: 216px;
    height: 38px;
    padding: 8px 0px 6px 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: #8292B4;
    font-weight: 500;
}

#srch {
    width: 120px;
    height: 48px;
    font-size: 17px;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #457EFF;
    box-shadow: rgba(86, 141, 187, 0.12) 0px 4px 12px 0px;
    border: none;
}

#reg {
    height: 88px;
    width: 792px;
    border: 1px dashed #D3E1EA;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

#reg>div>img {
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

#reg>div>img:last-child {
    margin-left: -10px;
}

#reg>div>h3 {
    font-family: 'Inter', serif;
    color: #1b2437;
    font-weight: 600;
}

#reg>div>p {
    color: #445578;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#regnow {
    width: 126px;
    height: 42px;
    font-family: 'Inter', sans-serif;
    background-color: #ff7555;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 15px;
}

#interest {
    height: 390px;
    width: 1098px;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 15px;
}

#interest>h1 {
    font-family: 'Inter', serif;
    color: #1b2437;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    margin-top: 32px;
}

#interest>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', serif;
    color: #445578;
    font-size: 13px;
    gap: 10px;
    padding-top: 10px;
    /* margin-top: 10px; */
}

#interest>div>p {

    padding: 6px 12px;
    margin: 10px 0px 5px;
    border: 1px solid #D3E1EA;
    border-radius: 100px;
}

#interest #intdiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    margin: auto;
}

#interest #intdiv>div>div>.Ilogo {
    height: 72x;
    width: 72px;
    border-radius: 4px;
    border: 1px solid #D3E1EA;
}

#interest #intdiv>div>div {
    display: flex;
    justify-content: space-between;

}

#interest #intdiv>div {
    height: 232px;
    width: 264px;
    border: 1px solid #D3E1EA;
    border-radius: 16px 6px;
    padding: 20px 20px 20px 24px;
    box-sizing: border-box;
    box-shadow: rgba(0, 77, 255, 0.04) 0px 4px 10px 0px;
}

#interest #intdiv>div>h3 {
    padding-top: 10px;
    color: #1B2437;
    font-size: 17px;
}

#interest #intdiv>div>p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 18px;
}

#interest #intdiv>div>span {
    font-size: 13px;
    display: flex;
    gap: 8px;
    align-content: flex-end;
}

#trend {
    height: 248px;
    width: 1098px;
    /* border: 1px solid; */
    margin: auto;
}

#trend>h1 {
    font-family: 'Inter', serif;
    color: #1b2437;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    padding: 20px;
}

#trend>#trenddiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

#trend>#trenddiv>div {
    padding-top: 20px;
    box-sizing: border-box;
    height: 142px;
    width: 200px;
    border: 1px solid #D3E2EB;
    display: grid;
    justify-content: center;
    box-shadow: rgba(0, 77, 255, 0.04) 0px 4px 10px 0px;
    border-radius: 16px 6px;
    font-family: 'Inter', serif;
    font-weight: 600;
    text-align: center;
}

#trend>#trenddiv>div>img {
    height: 52px;
    width: 52px;
    margin: auto;
}

#trend>#trenddiv>div>p {
    color: #8292B4;
    font-size: 13px;
    font-weight: 500;
}

#trend>#trenddiv>div>span>img {
    height: 10px;
    width: 6px;
}

/* #explore {
    height: 260px;
    width: 1098px;
    border: 1px solid;
    margin: auto;
    margin-top: 20px;
}

#featured {
    height: 452px;
    width: 1098px;
    border: 1px solid;
    margin: auto;
    margin-top: 20px;
} */

#appdown {
    height: 320px;
    width: 1098px;
    margin: 32px 0;
    padding: 0 0 0 100px;
    box-sizing: border-box;

    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f7f8ff;
    border-radius: 16px 6px;
    font-family: 'Inter', sans-serif;
}



#appdown>div>h2 {
    margin: 64px 0 10px;
    font-size: 27px;
}

#appdown>div>div {
    display: flex;
    justify-content: space-between;
}

#appdown>div>div>div>p {
    font-size: 13px;
    color: #8292B4;
    margin-bottom: 20px;
}

#appdown>div>div>div>input {
    margin-bottom: 20px;
    height: 30px;
    width: 250px;
    border-radius: 100px;
    padding: 10px;
    border: 1px solid #D3E1EA;
}

#appdown>div>div>div:nth-child(2) {
    width: 122px;
    height: 139px;
    border-radius: 12px;
    border: 1px solid #D3E1EA;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #8292B4;
    background-color: white;
}

#appdown>div>div>div:nth-child(2)>img {
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
}

#appdown>div:nth-child(2)>img {
    height: 310px;
    width: 100%;

}

#footer {
    height: 350px;
    box-sizing: border-box;

    font-family: 'Inter', serif;
}

#footmain {
    height: 157px;
    width: 1207px;
    box-sizing: border-box;
    margin: 82px 68px 30px 75px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#footmain>div {
    display: grid;
    font-size: 15px;
    justify-content: center;
    box-sizing: border-box;
    line-height: 20px;

}

#footmain>div>a {
    text-decoration: none;
    color: #445578;
}

#footmain>div>a:hover {
    color: #457EFF;
}

#footmain>div:first-child {
    width: 203px;
    padding-right: 17px;
    margin-right: 30px;
}

#footmain>div:first-child>p:nth-child(2) {
    color: #445578;
    margin-bottom: -22px;
}

#footmain>div:first-child>p:nth-child(3) {
    display: flex;
    gap: 10px;
}

#download {
    position: relative;
    top: -24px;
    height: 157px;
    width: 364px;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #D3E2EA;
    margin-left: 100px;
}

#download>h3 {
    font-size: 14px;
    line-height: 18px;

}

#download>p {
    font-size: 13px;
    line-height: 18px;
    color: #445578;
}

#download>p:nth-child(3) {
    margin-top: 16px;

}

#download>p:nth-child(3)>img:nth-child(1) {
    margin-right: 12px;
}

#foothr {
    width: 1200px;
    margin: auto;
    border: 1px solid #E9ECF4;
    margin-bottom: 40px;
}

#lowerfooter {
    font-size: 13px;
    color: #8292B4;
    margin-right: 68px;
    margin-left: 75px;
    display: grid;
    grid-template-columns: 60% 40%;
}

#lowerfooter>div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 10px;
}