* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
body {
  min-height: 100vh;
  color: #666;
  background-size: cover;
  background-position: center;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}
.logo {
  font-weight: bolder;
  font-size: 25px;
  color: red;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  position: relative;
  float: left;
}
.navbar ul li a {
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  line-height: 24px;
  color: #666;
  display: block;
}
.navbar ul li a:hover {
  text-decoration: underline;
  /* text-decoration-style: wavy; */
  text-decoration-thickness: 4px;
  color: blue;
  font-weight: bold;
  background: rgba(128, 128, 128, 0.164);
  /* color: black; */
}
.navbar ul li:hover {
  /* text-decoration-style: wavy; */
  text-decoration-thickness: 4px;
  font-weight: bold;
  background: white;
}
.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 20px 5px 20px 0px;
  background: white;
  display: none;
}
.navbar ul li ul a {
  font-weight: 400;
  text-transform: none;
  padding: 5px;
  text-decoration: none;
}
.navbar ul li ul a:hover {
  background: none;
  font-weight: 400;
  color: rgba(0, 119, 255, 0.658);
  text-decoration: none;
}
.navbar ul li ul li {
  width: 100%;
}

.navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul {
  display: initial;
}
#search-section-detail {
  width: 100%;
  height: 30px;
  padding: 30px;
  /* border: 1px solid red; */
}
#main-container {
  width: 95%;

  margin: 5%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  /* border: 1px solid red; */
  gap: 20px;
}

#data-container {
  width: 46%;
  height: 100%;
  padding: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  /* border: 1px solid purple; */
}
.sidebar {
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 25%;
  height: 100%;
  /* border: 1px solid green; */
}
#filterheading img {
  width: 10%;
  color: black;
}
.filterfirst {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.filterfirst p {
  margin-left: 15px;
  color: black;
  font-size: 14px;
}
/* Style the buttons that are used to open and close the accordion panel */

#sidebar-first {
  padding: 4px;
  width: 95%;
  height: 200px;
  /* border: 2px solid red; */
  margin: auto;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 6px;
}
#first-div {
  /* border: 2px solid red; */
  display: flex;
}
#first-div p,
#sidebar-first > div + p {
  font-size: 14px;
}

#first-div img {
  width: 40%;
}
#rgnow {
  margin-top: 10px;
  width: 90%;
  border: none;
  background-color: orangered;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 10px 10px;
  margin-left: 10px;
}
#second-div{
     padding: 4px;
  width: 95%;
  height: 200px;
  /* border: 2px solid red; */
  margin: auto;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 10px;
}
#second-div p{
color: black;
width: 75%;
font-size: 15px;
}
#third-div{
    margin-left: 20px;
}
#search-section-detail{
  border-bottom: 1px solid grey;
 color: #091e42;
  font-weight: 500;
}
#location p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
#location{
  padding: 20px;
}
#com p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
#com{
  padding: 20px;
}

#com p:hover{
  cursor: pointer;
  color:#2e6df3;
  font-weight: 600;
}

#location p:hover{
  cursor: pointer;
  color: #326ff1;
  font-weight: 600;
}
#data-container>div:hover{
  cursor: pointer;
}