
*{
    padding: 0%;
   font-family: Roboto,sans-serif;
   font-size: 15px;
   color:#666666;
   line-height: 19px;
   /* background-color: #fafafa; */
   

}

#navbar-d{
    width:100%;
    display: flex;
    
    /* border:1px solid red; */
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}
#navbar-d>div>p>a{
    color:rgb(72, 150, 152);
    text-decoration: none;
    
}
#box1{
    /* border: 1px solid ; */
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 106, 194, 0.2) 0px 9px 16px 0px;
    border-radius: 2px;
    background-color: #ffffff;
}

#box1>div{
    display: flex;
    align-items: center;
    gap:5px;
    margin-bottom: -12px;
    background-color: #ffffff;

    
}
#box1>div>img{
    width:25px;
    background-color: #ffffff;


}
#btn-d{
    width:240px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(100, 179, 211);
    color: rgb(100, 179, 211);
    font-weight: bold;
    margin-top: 20px;
}
#btn-d~img{
    width:227px;
    height: 151px;
    margin-left:60%;
    background-color: #ffffff;

}
#container-d{
    width:70%;
    
    margin: auto;
    /* margin-top:30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}#box2{
    /* border: 1px solid red; */
    width:30%;
    display: grid;
    padding: 70px;
    background-color: #ffffff;
    box-shadow: rgba(0, 106, 194, 0.2) 0px 9px 16px 0px;
    border-radius: 4px;
}
#box2>input{
    height: 40px;
    margin-top:-10px

}
#login{
    margin-top :20px;
    height:40px;
    font-size: 14px;
    line-height: 38px;
    color: white;
    border: none;
    background-color: #4a90e2;
    cursor: pointer;
}
#h2{
    color:#091e42;
    font-size: 100px;
    line-height: 28px;
    


}
#google{
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap:30px;
    border: 1px solid ;
    padding:0px 10px;
    border-radius: 30px;
    color: #0074ad;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
    border: none;
    

}#google>img{
    width:30px;
    height:30px;

}
.pera{
    font-size: 13px;
    line-height: 16px;
    text-align: start;
    color: #091e42;
    font-weight: bold;
}
#box2>input::placeholder{
    color:#666666;
    font-size: 15px;
    padding: 0px 10px;

}
#box2>input{
    margin-bottom: 20px;
    padding-left: 10px;
}
#box1>h2{
    margin-top: 20px;
}
#color{
    width: 100%;
    background-color: #fafafa;
    height:700px ;
    padding-top: 30px;
}



