
*{
    padding: 0%;
    margin: 0%;
}

/* navbar styling */

#navbar-d{
    width:100%;
    height:70px;
    border: 1px solid rgb(207, 202, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    line-height: 20pxpx;
    color:#000000;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
#navbar-d>div:nth-child(1)>img{
  width:130px
}
#navbar-d>div:nth-child(2){
    width:30%;
    display: flex;
    justify-content: space-between;
}
#navbar-d>div:nth-child(3){
    display: flex;
    align-items: center;
    gap:5px;
}#navbar-d>div:nth-child(3)>img{
    width:30px;
    height:35px;
}
#login-d{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    gap:5px;
    margin-top: -5px;
}
#underline{
    border-bottom: 4px solid rgb(49, 49, 241);
    margin-bottom: -5px;
    font-weight: bolder;
}
#pera{
    font-size: 12px;
    line-height: 14px;
    color: #414c5f;
    font-weight:400;
}

#button{
    width:25%;
    display: grid;
    height:100px;
    /* margin-top: 60px; */
    
}
#box1{
    width:75%;
    /* border:1px solid */

}
#button>button{
    height:40px;
    margin-top: 10px;
}
#card{
    background-color: white;
    border: none;
    border-left: 4px solid blue;
    
}
#form{
  width:80%;
  display: grid;
  margin: auto;
}

#form>p{
    font-size: 13px;
    margin-bottom: 5px;
}
#form>p+input{
    /* width:100%; */
    margin-bottom: 30px;
    height: 35px;
    width:90%;
    padding-left: 10px;
}
#div1{
    display: flex;
    align-items: center;
    gap:10px;
}
#div1>p{
    font-size: 12px;
}
#div1>input{
    height: 35px;
}

#d2{
    display: flex;
    align-items: baseline;
    margin: 30px 0px;
    gap:10px;

}
#d2>p{
    font-size: 12px;
    line-height: 17px;
}
#pay{
    width:70%;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #fb641b;
    margin-left: 15%;
    border: none;
    cursor: pointer;
}

#box1{
    padding: 30px 30px;
    box-shadow:rgba(0, 0, 0, 0.11) 0px 2px 10px 0px ;
    display: grid;
    /* margin-top: 55px; */

}
#upi{
    border: none;
    border-left: 4px solid blue;
}

#box1>#ptag{
    font-size: 14px;
    margin-bottom: 5px;
}
#box1>#intbox{
    width:90%;
    height:35px;
    margin-bottom: 20px;
    padding: 0px 10px;

}

#box1>#intbox::placeholder{
    font-size: 17px;
    padding: 0px 10px;
}

#flex-d{
    display: flex;
    align-items: baseline;
    gap:10px;
    margin-top:10px;
    margin-bottom: 30px;

}

#head{
    margin-left: 15%;
    margin-top:20px;
}
/* #box2{
    height:100px
} */
#p6{
    font-size: 10px;
    line-height: 16px;
    color:#536777
}
